<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/img/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>{{site.nick_name}}（{{site.english_name}}）</i>
    </div>
    <div class="user-intro center-align">
        <h4>一个爱<span class="typing-text hidden">唱, 跳, rap, 打篮球</span>的求索者</h4>
    </div>
    <div class="user-content center-align">
        <p>
            最难熬的就是一张白纸，变成一本书的过程。
        </p>
        <p>
            日拱一卒无有尽，功不唐捐终入海。
        </p>
    </div>
    <br>
</div>
